<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>zone</key>
		<string>北京市</string>
		<key>lng</key>
		<string>116.40</string>
		<key>lat</key>
		<string>39.90</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>天安门</string>
		<key>lng</key>
		<string>116.38</string>
		<key>lat</key>
		<string>39.90</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>东城区</string>
		<key>lng</key>
		<string>116.42</string>
		<key>lat</key>
		<string>39.93</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>西城区</string>
		<key>lng</key>
		<string>116.37</string>
		<key>lat</key>
		<string>39.92</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>崇文区</string>
		<key>lng</key>
		<string>116.43</string>
		<key>lat</key>
		<string>39.88</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>宣武区</string>
		<key>lng</key>
		<string>116.35</string>
		<key>lat</key>
		<string>39.87</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>朝阳区</string>
		<key>lng</key>
		<string>116.43</string>
		<key>lat</key>
		<string>39.92</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>丰台区</string>
		<key>lng</key>
		<string>116.28</string>
		<key>lat</key>
		<string>39.85</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>石景山区</string>
		<key>lng</key>
		<string>116.28</string>
		<key>lat</key>
		<string>39.85</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>海淀区</string>
		<key>lng</key>
		<string>116.30</string>
		<key>lat</key>
		<string>39.95</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>门头沟区</string>
		<key>lng</key>
		<string>116.10</string>
		<key>lat</key>
		<string>39.93</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>房山区</string>
		<key>lng</key>
		<string>116.13</string>
		<key>lat</key>
		<string>39.75</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>通州区</string>
		<key>lng</key>
		<string>116.65</string>
		<key>lat</key>
		<string>39.92</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>顺义区</string>
		<key>lng</key>
		<string>116.65</string>
		<key>lat</key>
		<string>40.13</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>昌平区</string>
		<key>lng</key>
		<string>116.65</string>
		<key>lat</key>
		<string>40.13</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>大兴区</string>
		<key>lng</key>
		<string>116.33</string>
		<key>lat</key>
		<string>39.73</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>怀柔区</string>
		<key>lng</key>
		<string>116.63</string>
		<key>lat</key>
		<string>40.32</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>平谷区</string>
		<key>lng</key>
		<string>117.12</string>
		<key>lat</key>
		<string>40.13</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>密云区</string>
		<key>lng</key>
		<string>116.83</string>
		<key>lat</key>
		<string>40.37</string>
	</dict>
	<dict>
		<key>zone</key>
		<string>延庆区</string>
		<key>lng</key>
		<string>115.97</string>
		<key>lat</key>
		<string>40.45</string>
	</dict>
</array>
</plist>
